<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>分类管理</title>
        <link
            rel="stylesheet"
            href="https://libs.cdnjs.net/antd/5.12.4/reset.css"
        />

        <link
            rel="stylesheet"
            href="https://libs.cdnjs.net/ant-design-pro/2.3.2/ant-design-pro.css"
        />

        <!-- <link
            rel="stylesheet"
            href="https://libs.cdnjs.net/tailwindcss/2.2.9/tailwind.min.css"
        /> -->

        <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/babel-standalone/7.0.0-alpha.20/babel.min.js"></script>
        <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/react/18.2.0/umd/react.production.min.js"></script>
        <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/react-dom/18.2.0/umd/react-dom.production.min.js"></script>
        <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/dayjs/1.10.8/dayjs.min.js"></script>
        <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/ant-design-icons/4.7.0/index.umd.min.js"></script>

        <script src="https://libs.cdnjs.net/antd/5.12.4/antd.min.js"></script>

        <script src="https://unpkg.shop.jd.com/@ant-design/pro-components/dist/pro-components.min.js"></script>
        <script src="https://unpkg.shop.jd.com/ahooks/dist/ahooks.js"></script>
    </head>
    <body>
        <div id="root">15156</div>

        <script
            type="text/babel"
            src="./javascripts/request.js"
        ></script>

        <script
            type="text/babel"
            src="./javascripts/api/common.js"
        ></script>

        <script
            type="text/babel"
            src="./javascripts/api/category.js"
        ></script>

        <script
            type="text/babel"
            src="./javascripts/api/website.js"
        ></script>

        <script
            type="text/babel"
            src="./javascripts/header.js"
        ></script>

        <script
            type="text/babel"
            src="./javascripts/useCategoryOptions.js"
        ></script>

        <script type="text/babel">
            console.log("window - >:", window);

            renderHeader("category");

            const { Col, Row, Button, Checkbox, Form, message, Modal, Tooltip } = antd;
            const { useState, useEffect } = React;
            const { useReactive } = ahooks;
            const { AppstoreOutlined, MailOutlined, SettingOutlined } = icons;

            const {
                ModalForm,
                ProFormCascader,
                ProFormRadio,
                ProFormText,
                ProFormTextArea,
                ProTable,
                ProFormCheckbox,
            } = ProComponents;

            // 页面内容
            const App = (props) => {
                const state = useReactive({
                    open: false,
                    title: "新建分类",
                    row: {},
                });

                const [option, setOption] = useState([]);

                const [messageApi, contextHolder] = message.useMessage();
                const [opts, refesh] = useCategoryOptions();

                const getList = () => {
                    api_website.list({ pageSize: 1000 }).then((res) => {
                        const data = res.data.map((it, ind) => ({
                            ...it,
                            label: it.title,
                            value: it.id,
                        }));
                        setOption(data);
                    });
                };

                useEffect(() => {
                    getList();
                }, []);

                const columns = [
                    {
                        title: "ID",
                        dataIndex: "id",
                        // valueType: "index",
                        search: false,
                        copyable: true,
                        width: 60,
                    },
                    {
                        title: "标题",
                        dataIndex: "title",
                        copyable: true,
                        ellipsis: true,
                    },
                    {
                        title: "描述",
                        dataIndex: "description",
                        search: false,
                    },

                    {
                        title: "操作",
                        valueType: "option",
                        key: "option",
                        render: (text, record, _, action) => [
                            <a
                                key="editable"
                                onClick={() => {
                                    state.open = true;
                                    state.title = "编辑分类";
                                    state.row = record;
                                    console.log("record -> :", record);
                                    form.setFieldsValue(record);
                                }}
                            >
                                编辑
                            </a>,

                            // <a key="view">删除</a>,

                            // <TableDropdown
                            //   key="actionGroup"
                            //   onSelect={() => action?.reload()}
                            //   menus={[
                            //     { key: "copy", name: "复制" },
                            //     { key: "delete", name: "删除" },
                            //   ]}
                            // />,
                        ],
                    },
                ];

                const baseTable = React.useRef(null);

                const config = {
                    columns,

                    rowKey: "id",
                    options: false,
                    size: "middle",

                    dateFormatter: "string",

                    actionRef: baseTable,

                    pagination: {
                        defaultPageSize: 40,
                    },

                    search: {
                        labelWidth: 100,
                        collapsed: false,
                        defaultCollapsed: false,
                        collapseRender: () => "",
                        optionRender: (searchConfig, formProps, dom) => {
                            return [...dom.reverse()];
                        },
                        className: "search-table",
                    },

                    request: async (params = {}, sort, filter) => {
                        // if (params.pTitle && params.pTitle.length) {
                        //     params.pId = params.pTitle[params.pTitle.length - 1];
                        //     delete params.pTitle;
                        // }
                        return api_category.list(params);
                    },

                    headerTitle: [
                        <Button
                            key="3"
                            type="primary"
                            onClick={() => {
                                state.open = true;
                                state.title = "新建分类";
                            }}
                        >
                            新增
                        </Button>,

                        <Button
                            key="4"
                            type=""
                        >
                            导入
                        </Button>,
                    ],
                };

                const [form] = Form.useForm();

                return (
                    <React.Fragment>
                        {contextHolder}

                        <ProTable {...config} />

                        <ModalForm
                            title={state.title}
                            open={state.open}
                            form={form}
                            autoFocusFirstInput
                            size="middle"
                            modalProps={{
                                destroyOnClose: true,
                                forceRender: true,
                                maskClosable: false,
                                preserve: false,
                                onCancel: () => {
                                    state.open = false;
                                    state.row = {};
                                    form.resetFields();
                                },
                            }}
                            onFinish={async (values) => {
                                if (state.row.id) {
                                    values.id = state.row.id;
                                }

                                const res = await api_category.save(values);

                                if (res.code !== 200) {
                                    messageApi.error(res.msg);
                                    return false;
                                }
                                messageApi.success("提交成功");
                                state.open = false;
                                state.row = {};
                                baseTable.current.reload();
                            }}
                        >
                            <ProFormText
                                width="100%"
                                name="title"
                                label="分类名称"
                                placeholder="请输入分类名称"
                                initialValues={state.row.title}
                                rules={[
                                    {
                                        required: true,
                                        message: "请输入分类名称",
                                    },
                                ]}
                            />

                            <ProFormTextArea
                                width="100%"
                                name="description"
                                initialValues={state.row.description}
                                label="分类描述"
                                placeholder="请分类描述"
                            />

                            <div
                                style={{
                                    height: "300px",
                                    overflowY: "auto",
                                }}
                            >
                                <ProFormCheckbox.Group
                                    name="childrens"
                                    label="该分类下的网站"
                                    options={option}
                                ></ProFormCheckbox.Group>
                            </div>
                        </ModalForm>
                    </React.Fragment>
                );
            };
            // 将页面内容渲染到指定容器
            ReactDOM.render(<App />, document.querySelector("#root"));
        </script>
    </body>
</html>
